---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Horizons Nexus', description = 'A Hack Club Hackathon happening June 19th-21st' } = Astro.props;

const ogImage = new URL('/banner.png', 'https://nexus.hackclub.com').toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <title>{title}</title>

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Horizons Nexus" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://nexus.hackclub.com" />
    <meta property="og:image" content={ogImage} />

    <script is:inline async src="https://plausible.io/js/pa-0PtRAU0rT2pFdRz5dff5Y.js"></script>
    <script is:inline>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
